@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.warehouse-details-main {
  width: 100vw;
  background-color: $color-background-light-grey;

  &__content {
    width: 90vw;
    margin: 0 $spacing-small;
    background-color: $color-primary-white;

    border-radius: 5px;
    position: relative;
    top: -3.5rem;
  }
}

// warehouse header section with name & icon to edit

.warehouse-details-header {
  width: 90vw;
  padding: 0 $spacing-small;

  @include flexbox(row, space-between, center);
}

.warehouse-details {
  padding: $spacing-small;
  padding-top: $spacing-big;
  border-top: $divider-width solid $divider-color;

  @include flexbox(column, center, flex-start);

  &__name-container,
  &__icon-container {
    margin-top: $spacing-big;
    margin-bottom: $spacing-small;

    @include flexbox(row, space-between, center);
  }

  &__title {
    font-size: $mob-page-header;
    color: $color-primary-black;
    margin-left: $radio-space-big;
  }

  &__text {
    font-size: $desk-label-link-button-body-medium;
    color: $color-primary-white;
    display: none;

    @include tablet {
      display: inline-block;
    }
  }

  &__icon-container {
    background-color: $color-primary-indigo;
    color: $color-primary-white;
    border-radius: 100%;
    padding: 0.8rem;
    // margin-left: 0.2rem;

    @include tablet {
      padding: 0.8rem 1.6rem;
      border-radius: $button-form-tag-radius;
    }
  }

  &__icon {
    color: $color-primary-white;
    margin-right: $radio-space-small;
  }
}

// warehouse address styles

.warehouse-address {
  padding-bottom: $spacing-small;
  &__title {
    font-size: $mob-table-header-body-small;
    color: $color-secondary-slate;
    margin-bottom: 0.8rem;
  }

  &__text {
    font-size: $mob-label-link-button-body-medium;
    color: $color-primary-black;
  }
}

// warehouse contact name & info section

.warehouse-name-info-container {
  width: 90vw;

  @include flexbox(column, flex-start, flex-start);
}

.warehouse-contact-name {
  &-container {
    width: 40vw;
    margin-right: $spacing-small;
  }
  &__title {
    font-size: $mob-table-header-body-small;
    color: $color-secondary-slate;
    margin-bottom: 0.8rem;
  }

  &__text {
    font-size: $mob-label-link-button-body-medium;
    color: $color-primary-black;
    &--position {
      font-size: $mob-label-link-button-body-medium;
      color: $color-primary-black;
    }
  }
}

.warehouse-info {
  &__title {
    font-size: $mob-table-header-body-small;
    color: $color-secondary-slate;
    margin-bottom: 0.8rem;
  }

  &__text {
    font-size: $mob-label-link-button-body-medium;
    color: $color-primary-black;
  }
}

.whd-inventory-card-header--tablet {
  display: none;
}

// tablet view

@include tablet {
  .warehouse-details {
    padding: $spacing-big;

    @include flexbox(row, flex-start, center);

    &-main__content {
      margin-inline: auto;
      top: -8.5rem;
    }
  }

  .warehouse-address {
    width: 40vw;
    padding-bottom: 0;
  }

  .warehouse-name-info-container {
    width: 50vw;
    border-left: $divider-width solid $divider-color;
    padding-left: $spacing-big;
  }

  .warehouse-contact-name,
  .warehouse-info {
    width: 20vw;
  }

  .whd-inventory-card-header--tablet {
    padding-inline: $spacing-big;
    @include flexbox(row, space-between, center);
  }
}
