@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.inventory-details {
    @include flexbox;

    font-size: 6rem; 
       
    &__edit-pic {
        // color: $color-primary-white;
        // background-color: $color-primary-indigo;
    }
    &__item {
     display: inline-flex;
  
    }
    &__info {
        border: solid 3px red;
    }
}

.details {
    &__description-and-category {
        border: solid 3px blue;
    }
    &__status-quantity {
        display: flex;
        justify-content: space-between;
    }

}
