@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.icons {
  width: 84vw;
  margin: $spacing-small 0;

  @include flexbox(column, center, flex-start);

  &__title--mobile {
    font-size: $mob-label-link-button-body-medium;
    color: $color-secondary-slate;
    display: none;

    @include tablet {
      display: inline-block;
    }
  }
  &-container {
    width: 80vw;
    @include flexbox(row, space-between, center);
  }
}

// tablet view

@include tablet {
  .icons {
    width: 9vw;
  }
  .icons-container {
    width: 9vw;
  }

  .icons {
    &__title--mobile {
      font-size: $desk-table-header-body-small;
    }

    &__title--tablet {
      display: none;
    }
  }
}

// desktop view

@include desktop {
  .icons-container {
    width: 6vw;
  }
}
