@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography";

.searchBar {
  width: 80vw;
  font-size: $mob-label-link-button-body-medium;
  border: $divider-width solid $divider-color;
  border-radius: $button-form-tag-radius;
  margin-bottom: $spacing-small;

  @include flexbox(row, space-between, center);

  &__input {
    font-size: $mob-table-header-body-small;
    border: 0;
    margin-left: 1rem;
    padding: 0.5rem;

    &::placeholder {
      color: $color-primary-black;
    }
  }

  &__icon {
    margin-right: 1rem;
    padding: 0.5rem;
  }
}

// tablet view

@include tablet {
  .searchBar {
    width: 28vw;
    font-size: $desk-label-link-button-body-medium;
    margin-bottom: 0;
    margin-right: $spacing-small;

    &__input {
      font-size: $desk-table-header-body-small;
    }
  }
}

// desktop view

@include desktop {
  .searchBar {
    width: 20vw;
  }
}
