@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.inventory-main {
  width: 100vw;
  background-color: $color-background-light-grey;

  &__content {
    width: 90vw;
    margin: 0 $spacing-small;
    background-color: $color-primary-white;

    border-radius: 5px;
    position: relative;
    top: -4rem;
  }
}

.inventory-header {
  width: 90vw;
  padding: 0 $spacing-small;

  @include flexbox(column, center, flex-start);

  &__title {
    font-size: $mob-page-header;
    margin-top: $spacing-big;
    margin-bottom: $spacing-small;
  }

  &__button {
    width: 80vw;
    background-color: $color-primary-indigo;
    color: $color-primary-white;
    font-size: $mob-label-link-button-body-medium;
    border: 0;
    border-radius: $button-form-tag-radius;
    margin-bottom: $spacing-small;
    padding: 0.5rem;
  }
}

// hide static header section for tablet mode in mobile view
.inventory-card-header--tablet {
  display: none;
}

// tablet view

@include tablet {
  .inventory-main {
    &__content {
      margin-inline: auto;
    }
  }

  .inventory-header {
    padding: 0 $spacing-big;
    @include flexbox(row, flex-start, center);

    &__title {
      font-size: $desk-page-header;
      margin-top: 2rem;
      flex-grow: 1;
    }

    &__button {
      width: 20vw;
      font-size: $desk-label-link-button-body-medium;
      margin-bottom: 0;
    }
  }

  .inventory-card-header--tablet {
    width: 90vw;
    background-color: $color-background-light-grey;
    padding: 0.8rem $spacing-big;
    text-align: center;

    @include flexbox(row, flex-start, center);
  }

  .inventory__title--tablet {
    width: 15vw;

    @include flexbox(row, center, center);
  }
}

// desktop mode

@include desktop {
  .inventory-main {
    &__content {
      width: 83vw;
    }
  }

  .inventory-card-header--tablet {
    width: 83vw;
    padding: 0.8rem $spacing-big;

    @include flexbox(row, flex-start, center);
  }

  .inventory-header {
    width: 83vw;

    &__button {
      width: 12vw;
    }
  }

  .inventory__title--tablet {
    @include flexbox(row, flex-start, center);
  }

  .address-container {
    @include flexbox(row, flex-start, center);
  }
}
