@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.header {
  width: 100vw;
  height: 35vh;
  background-color: $color-background-graphite;
  display: flex;
  flex-direction: column;
  text-align: center;
  // padding-bottom: 5rem;

  &__logo {
    padding: 2rem 0 1rem 0;
  }

  // &__logo--image {
  // }

  &__nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  // &__warehouses {
  // }

  // &__nav-link {
  // }

  // &__inventory {
  // }

  &__button {
    color: $color-primary-white;
    background-color: $color-background-graphite;
    border-radius: $button-form-tag-radius;
    height: $button-form-height-mobile;
    // padding: $button-form-padding;
    font-size: $mob-label-link-button-body-medium;
    border: 0;
    padding: 1rem 3rem;
    // margin: 0 3rem;
  }

  &__button:hover {
    background-color: $color-primary-black;
    // background-color: $color-background-graphite;
  }

  // &__blank-space {
  //   flex-grow: 1;
  // }
}

.button {
  // &__warehouse {
  // }

  // &__inventory {
  // }
}

a {
  text-decoration: none;
  cursor: pointer;
}

@include tablet {
  .header {
    height: 15vh;
    &__logo-and-nav-bar {
      width: 90vw;
      display: inline-flex;
      justify-content: space-between;
      // margin: 0 2rem;
      margin-inline: auto;
    }
    &__button {
      margin: 0;
    }
  }
}

@include desktop {
  .header {
    height: 17.5vh;
  }

  // .header__logo-and-nav-bar {
  //   // width: 90vw;
  //   display: inline-flex;
  //   justify-content: space-between;
  //   // margin: 0 5rem;
  // }
}
