@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

* {
    font-size: 12px;
}

.warehouse-add__header {
    width: 90vw;
    font-size: $mob-table-header-body-small;
    @include flexbox(row, space-between, center);
}

.warehouse-add__form{
    @include flexbox(column, flex-start, flex-start);
    padding: 0 $spacing-small;
}

.warehouse-name,
.warehouse-address,
.warehouse-city,
.warehouse-country {
    font-size: $mob-table-header-body-small;
    font-weight: 600;
    color: $color-primary-black;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0;
}

.warehouse-name__input,
.warehouse-address__input,
.warehouse-city__input,
.warehouse-country__input {
    width: 80vw;
    font-size: $mob-label-link-button-body-medium;
    border: 1px solid #BDC5D5;
    border-radius: $button-form-tag-radius;
    margin-bottom: $spacing-small;
    padding: 0.5rem;

    @include tablet-desktop {
        width: 40vw;
    }
}