@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
  color: $color-secondary-slate;
  background-color: $color-background-light-grey;
  padding: $spacing-big;

  @include flexbox(column, center, center);

  @include tablet {
    font-size: $desk-table-header-body-small;
  }
}
